* {box-sizing: border-box;}

html, body {
  min-height: 150vh; 
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-x: hidden; /* Ocultar desbordamiento horizontal */
}

body { 
  background-color: var(--verdep);
  position: relative;
}

:root {
  --aqua-green: #00CCCC;
  --pastel-red: #FF6961;
  --green: #C2E688;
  --verdep: #77dd77;
  --light-green: #E6FB9F;
  --stroke: #522438;
  --light-brow: #846662;
  --gray: #9EA1AF;
  --red: #FC6963;
}

footer {
  color: white;
  margin-top: auto;
  width: 100%;
  background-color: #333;
}

header, footer { 
  text-align: center; 
  padding: 0.1rem; 
  z-index: 4; /* Asigna un z-index superior a 3 */
}

header { 
  background-image: url('../images/polig.svg');
  background-size: cover; /* Asegura que la imagen cubre todo el fondo */ 
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

nav {
  background-color: #333333;
  color: white;
  width: 100%; /* Asegura que nav ocupa todo el ancho */
  z-index: 3; 
}

/* Sub-configuraciones de Nav*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 5%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #575757; /* Cambio ligero del color*/
}

h1 {
  font-size: 5em; /* Define el tamaño de la fuente del texto. */
  color: purple;
  text-shadow: 2px 2px 100px violet, 4px 4px 1px black; 
  -webkit-text-stroke: 1px violet; 
  font-family: 'Jokerman';
}

@font-face {
  font-family: 'Jokerman';
  src: url('fonts/Jokerman.ttf') format('truetype');
}

h2 {
  font-family: 'Jokerman', sans-serif;
}

main { padding: 30px; /* Margen, para el contenido principal */ }
